In [21]:
import pandas as pd


ratings = pd.read_csv(r'C:\Users\mystm\Downloads\ml-32m1\ml-32m\ratings.csv')
print("First 20 rows of ratings.csv:")
print(ratings.head(20))

movies = pd.read_csv(r'C:\Users\mystm\Downloads\ml-32m1\ml-32m\movies.csv')
print("\nFirst 20 rows of movies.csv:")
print(movies.head(20))

First 20 rows of ratings.csv:
    userId  movieId  rating  timestamp
0        1       17     4.0  944249077
1        1       25     1.0  944250228
2        1       29     2.0  943230976
3        1       30     5.0  944249077
4        1       32     5.0  943228858
5        1       34     2.0  943228491
6        1       36     1.0  944249008
7        1       80     5.0  944248943
8        1      110     3.0  943231119
9        1      111     5.0  944249008
10       1      161     1.0  943231162
11       1      166     5.0  943228442
12       1      176     4.0  944079496
13       1      223     3.0  944082810
14       1      232     5.0  943228442
15       1      260     5.0  943228696
16       1      302     4.0  944253272
17       1      306     5.0  944248888
18       1      307     5.0  944253207
19       1      322     4.0  944053801

First 20 rows of movies.csv:
    movieId                                  title  \
0         1                       Toy Story (1995)
1         2                         Jumanji (1995)
2         3                Grumpier Old Men (1995)
3         4               Waiting to Exhale (1995)
4         5     Father of the Bride Part II (1995)
5         6                            Heat (1995)
6         7                         Sabrina (1995)
7         8                    Tom and Huck (1995)
8         9                    Sudden Death (1995)
9        10                       GoldenEye (1995)
10       11         American President, The (1995)
11       12     Dracula: Dead and Loving It (1995)
12       13                           Balto (1995)
13       14                           Nixon (1995)
14       15                Cutthroat Island (1995)
15       16                          Casino (1995)
16       17           Sense and Sensibility (1995)
17       18                      Four Rooms (1995)
18       19  Ace Ventura: When Nature Calls (1995)
19       20                     Money Train (1995)

                                         genres
0   Adventure|Animation|Children|Comedy|Fantasy
1                    Adventure|Children|Fantasy
2                                Comedy|Romance
3                          Comedy|Drama|Romance
4                                        Comedy
5                         Action|Crime|Thriller
6                                Comedy|Romance
7                            Adventure|Children
8                                        Action
9                     Action|Adventure|Thriller
10                         Comedy|Drama|Romance
11                                Comedy|Horror
12                 Adventure|Animation|Children
13                                        Drama
14                     Action|Adventure|Romance
15                                  Crime|Drama
16                                Drama|Romance
17                                       Comedy
18                                       Comedy
19           Action|Comedy|Crime|Drama|Thriller

In [4]:
#merge the data

# Merge the datasets on movieId
merged_df = pd.merge(ratings, movies, on='movieId')

# Display first 10 rows
print(merged_df.head(10))

   userId  movieId  rating  timestamp  \
0       1       17     4.0  944249077
1       1       25     1.0  944250228
2       1       29     2.0  943230976
3       1       30     5.0  944249077
4       1       32     5.0  943228858
5       1       34     2.0  943228491
6       1       36     1.0  944249008
7       1       80     5.0  944248943
8       1      110     3.0  943231119
9       1      111     5.0  944249008

                                               title  \
0                       Sense and Sensibility (1995)
1                           Leaving Las Vegas (1995)
2  City of Lost Children, The (Cité des enfants p...
3  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
4          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
5                                        Babe (1995)
6                            Dead Man Walking (1995)
7        White Balloon, The (Badkonake sefid) (1995)
8                                  Braveheart (1995)
9                                 Taxi Driver (1976)

                                   genres
0                           Drama|Romance
1                           Drama|Romance
2  Adventure|Drama|Fantasy|Mystery|Sci-Fi
3                             Crime|Drama
4                 Mystery|Sci-Fi|Thriller
5                          Children|Drama
6                             Crime|Drama
7                          Children|Drama
8                        Action|Drama|War
9                    Crime|Drama|Thriller

In [7]:
#Check for unique numbers
print(f"Number of unique users: {merged_df['userId'].nunique()}")
print(f"Number of unique movies: {merged_df['movieId'].nunique()}")

Number of unique users: 200948
Number of unique movies: 84432

In [9]:
#Missing values

print("Missing values in dataset:")
print(merged_df.isnull().sum())

Missing values in dataset:
userId       0
movieId      0
rating       0
timestamp    0
title        0
genres       0
dtype: int64

In [11]:
#Most rated movie
most_rated = merged_df.groupby('title')['rating'].count().sort_values(ascending=False)
print("Top 10 most rated movies:")
print(most_rated.head(10))

Top 10 most rated movies:
title
Shawshank Redemption, The (1994)                             102929
Forrest Gump (1994)                                          100296
Pulp Fiction (1994)                                           98409
Matrix, The (1999)                                            93808
Silence of the Lambs, The (1991)                              90330
Star Wars: Episode IV - A New Hope (1977)                     85010
Fight Club (1999)                                             77332
Jurassic Park (1993)                                          75233
Schindler's List (1993)                                       73849
Lord of the Rings: The Fellowship of the Ring, The (2001)     73122
Name: rating, dtype: int64

In [13]:
#Highest rated movie
average_ratings = merged_df.groupby('title')['rating'].mean()
rating_counts = merged_df.groupby('title')['rating'].count()

# Filter for movies with at least 50 ratings
popular_movies = average_ratings[rating_counts >= 50].sort_values(ascending=False)

print("Top 10 highest-rated movies (min 50 ratings):")
print(popular_movies.head(10))

Top 10 highest-rated movies (min 50 ratings):
title
Planet Earth II (2016)              4.446830
Planet Earth (2006)                 4.444369
Band of Brothers (2001)             4.426539
Shawshank Redemption, The (1994)    4.404614
Cosmos                              4.330081
Godfather, The (1972)               4.317030
Parasite (2019)                     4.312254
Blue Planet II (2017)               4.300086
Twin Peaks (1989)                   4.298684
Twelve Angry Men (1954)             4.286192
Name: rating, dtype: float64

In [22]:
#Data cleaning
#Drop duplicates
merged_df = merged_df.drop_duplicates()

#Convert timestamp to datetime format (Optional, useful for time-based analysis)
merged_df['timestamp'] = pd.to_datetime(merged_df['timestamp'], unit='s')

#Drop timestamp column if not needed
merged_df = merged_df.drop(columns=['timestamp'])

print("Cleaned dataset preview:")
print(merged_df.head(10))

KeyError: 'timestamp'

In [26]:
print("Cleaned dataset preview:")
print(merged_df.head(20))

Cleaned dataset preview:
    userId  movieId  rating  \
0        1       17     4.0
1        1       25     1.0
2        1       29     2.0
3        1       30     5.0
4        1       32     5.0
5        1       34     2.0
6        1       36     1.0
7        1       80     5.0
8        1      110     3.0
9        1      111     5.0
10       1      161     1.0
11       1      166     5.0
12       1      176     4.0
13       1      223     3.0
14       1      232     5.0
15       1      260     5.0
16       1      302     4.0
17       1      306     5.0
18       1      307     5.0
19       1      322     4.0

                                                title  \
0                        Sense and Sensibility (1995)
1                            Leaving Las Vegas (1995)
2   City of Lost Children, The (Cité des enfants p...
3   Shanghai Triad (Yao a yao yao dao waipo qiao) ...
4           Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
5                                         Babe (1995)
6                             Dead Man Walking (1995)
7         White Balloon, The (Badkonake sefid) (1995)
8                                   Braveheart (1995)
9                                  Taxi Driver (1976)
10                                Crimson Tide (1995)
11                        Doom Generation, The (1995)
12                          Living in Oblivion (1995)
13                                      Clerks (1994)
14        Eat Drink Man Woman (Yin shi nan nu) (1994)
15          Star Wars: Episode IV - A New Hope (1977)
16             Queen Margot (Reine Margot, La) (1994)
17   Three Colors: Red (Trois couleurs: Rouge) (1994)
18   Three Colors: Blue (Trois couleurs: Bleu) (1993)
19                        Swimming with Sharks (1995)

                                    genres
0                            Drama|Romance
1                            Drama|Romance
2   Adventure|Drama|Fantasy|Mystery|Sci-Fi
3                              Crime|Drama
4                  Mystery|Sci-Fi|Thriller
5                           Children|Drama
6                              Crime|Drama
7                           Children|Drama
8                         Action|Drama|War
9                     Crime|Drama|Thriller
10                      Drama|Thriller|War
11                      Comedy|Crime|Drama
12                                  Comedy
13                                  Comedy
14                    Comedy|Drama|Romance
15                 Action|Adventure|Sci-Fi
16                           Drama|Romance
17                                   Drama
18                                   Drama
19                            Comedy|Drama

In [ ]:
#Content Based Filtering Method